<h1>Here's your podcast</h1>

<iframe sandbox="allow-same-origin allow-scripts allow-top-navigation allow-popups" scrolling="no" width="1100" height="185" frameborder="0" src="<%= @episode.audio %>"></iframe>
