#mainJumbo{
  background-image: url('https://images.pexels.com/photos/435798/pexels-photo-435798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') ;
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
  height: 90vh;
}

.badge-pill a{
  color: white;
}
.badge-pill a:hover{
  color: white;
}

#mainJumbo p{
  color: white;
}


#specialTitle{
  color: white;
}

.jumbotron h1, hr{
  color: white;
}

#card-deck-grid{
margin: 2rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 2rem;

}

.custom-container{
  margin: 2rem;

}

.login-form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/435798/pexels-photo-435798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

}

.login-form form {
  background-color: rgba(0,0,0,0.5);
  /* background: transparent; */
  display :grid;
  grid-template-columns: 1fr;
  padding: 4rem;
}

.form_field {
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.form_field::placeholder{
  color: white;
}

.btn-outline-light {
  margin-top: 2rem;
}

.badge-light {
  margin-top: 1rem;
  max-width: 3.5rem;
}

.alert-dark{
  position: absolute;
}

.podcast-show{

  margin-bottom: 2rem;
  display: flex;
}

.podcast-show img {
  margin-right: 1rem;
}

.player{
  background-color: ;
  display: flex;
  justify-content: center;
  margin: 3.5rem 2rem;
}

.player iframe{
  width: 100%;
}

.custom-card{
  border-style:   ;
  background-color: ;
  border-bottom: 1px solid #e3e3e3 !important;
  border-radius: 0.25rem !important;
}
