<div id="mainJumbo" class="jumbotron">
  <h1 id="specialTitle" class="display-4">PeaPod</h1>
  <p class="lead">Feast your ears</p>
  <hr class="my-4">
  <p>Podcasts and more...</p>
  <a class="btn btn-outline-light btn-lg" href="<%= podcasts_path %>" role="button">Listen now!</a>
</div>
