<h1>All Podcasts</h1>

<% @podcasts.each do |p| %>
  <%= link_to p.name, podcast_path(p) %>
  <%= form_for @subscription do |f| %>
    <%= hidden_field_tag :podcast_id, p.id %>
    <%= f.submit "Subscribe"%>
  <% end %>
<% end %>
